<%= render 'shared/navbar' %>

<div class="splash-area1">
  <div class="well bs-component sign-up">

  <form class="form-group" action="<%=session_url%>" method="post">
    <h2>Sign In</h2>
    <%=form_token %>
    <label for="Username">Username</label>
    <input class="form-control" type="text" name="user[username]">
    <br/>
    <label for="user_password">Password</label>
    <input class="form-control" type="password" name="user[password]">
    <br/>
    <input class="btn btn-default" type="submit" value="Sign In">
    <%= render "shared/guest" %>
  </form>

  <div class="login-error">
    <% if flash[:errors] %>
      <% flash[:errors].each do |error| %>
        <p>
          <%= error %>
        </p>
      <% end %>
    <% end %>
  </div>

  <a href="<%=new_user_url%>">Sign up for an account</a>
  </div>
</div>
