<!DOCTYPE html>
<html>
<head>
  <title>MacksList</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <script type="text/javascript">
    window.CLOUDINARY = {
      upload_preset: "<%=ENV['_FIGARO_CLOUDINARY_KEY']%>",
      cloud_name: "<%=ENV['_FIGARO_CLOUDINARY_CLOUD']%>",
    };
  </script>
  <script
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC9356iMs9Pkskmp4qMD6fT__2knEk-lu8">
  </script>
  <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>
  <link rel="shortcut icon" href="http://res.cloudinary.com/mackslist/image/upload/v1450309602/logo_jrqgi0.jpg">
</head>
<body>
  <%= yield %>
</body>
</html>
