<!DOCTYPE html>
<html>
<head>
  <title>MacksList</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

  <nav class="navbar navbar-default">
    <div class="container-fluid">

      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">MacksList</a>
      </div>

      <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">
          <li><a href="<%=root_url %>">Home</a></li>
          <li class="active"><a href="<%= root_url %>">Create Listing <span class="sr-only">(current)</span></a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Search <span class="caret"></span></a>
            <ul class="dropdown-menu">
              <li><a href="#">City</a></li>
              <li><a href="#">Advanced Search</a></li>
            </ul>
          </li>
        </ul>

        <ul class="nav navbar-nav navbar-right">
          <% if logged_in? %>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%=current_user.username%><span class="caret"></span></a>
              <ul class="dropdown-menu">
                <li><a href="#">User Profile</a></li>
                <li><%= link_to "Log Out", session_url, method: :delete %></li>
              </ul>
            </li>
          <% else %>
            <li><%= link_to "Sign Up", new_user_url, method: :get %></li>
            <li><%= link_to "Login", new_session_url, method: :get %></li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>


  <%= yield %>

</body>
</html>
